[submodule "modules/FileUtils"]
	path = modules/FileUtils
	url = git@github.com:artem78/s60-file-utils.git

[submodule "modules/Logger"]
	path = modules/Logger
	url = git@github.com:artem78/s60-logger.git

[submodule "modules/Positioning"]
	path = modules/Positioning
	url = git@github.com:artem78/s60-positioning.git
[submodule "modules/HTTPClient"]
	path = modules/HTTPClient
	url = git@github.com:artem78/s60-http-client.git
[submodule "modules/s-json"]
	path = modules/s-json
	url = https://github.com/luisjavierchico/s-json.git
